<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %>
</head>
<body>
<div class="jumbotron">
  <div class="container">
  <div class="row">
<h1 class="col-md-9 ">Welcome to A-Chat</h1>
<button type="button" id="room" class="btn btn-primary ">CREATE A ROOM</button>
</div>
<h3 id="username">Username:Anonymous</h3>
<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr" placeholder="Anonymous">
</div>
<button type="button" id="myBtn" class="btn btn-primary">UPDATE</button>
</div>
</div>
<div class="container">

  <h1>Messages</h1>
  <div id="messages">

</div>

  <div class="sticky-bottom position-static">
    <div class="form-group">
      <label for="usr">Message:</label>
      <input type="text" class="form-control" id="msgTxt" placeholder="Anonymous">
    </div>
    <button type="button" id="sendBtn" class="btn btn-success mr-auto">SEND</button>
  </div>
</div>

</body>
 <% include ../partials/script %>
</html>
